<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="stylesheet.css">
    <script src="https://cdn.tailwindcss.com"></script>
    
</head>
<body class="bg-gradient-to-r from-cyan-500 to-blue-500 ">
    <form action="/weather" method="POST" id="locationForm" class="hidden">
        <input name="input" type="text" placeholder="Location">
        <input type="submit">
    </form>
    
    <div id="errorMessage" class="hidden"></div>
    
    <button onclick="retryGeolocation()" id="retryButton" class="hidden">Retry Geolocation</button>

    <script>
        let lat;
        let lon;

        window.onload = async function() {
            try {
                const position = await getUserLocation();
                lat = position.coords.latitude;
                lon = position.coords.longitude;
                const url = `/weather?lat=${lat}&lon=${lon}`;
                window.location.href = url;
            } catch (error) {
                console.error(error);
                const errorMessage = document.getElementById("errorMessage");
                errorMessage.textContent = "Failed to get user location.";
                errorMessage.classList.remove("hidden");
                const locationForm = document.getElementById("locationForm");
                locationForm.classList.remove("hidden");
                const retryButton = document.getElementById("retryButton");
                retryButton.classList.remove("hidden");
            }
        };

        function getUserLocation() {
            return new Promise((resolve, reject) => {
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(resolve, reject);
                } else {
                    reject(new Error("Geolocation is not supported by this browser."));
                }
            });
        }

        function retryGeolocation() {
            const errorMessage = document.getElementById("errorMessage");
            errorMessage.classList.add("hidden");
            const locationForm = document.getElementById("locationForm");
            locationForm.classList.add("hidden");
            const retryButton = document.getElementById("retryButton");
            retryButton.classList.add("hidden");
            window.onload();
        }
    </script>
</body>
</html>
